@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: "Markazi Text", serif;
}

body {
  background-color: white;
}

.app {
  background: url("../src/img/ui/bg.jpg");
}

.start {
  border: 4px solid #4E2208;
}

.v-line {
  background: url("../src/img/ui/v-line.png")no-repeat center center;
  width: 25px;
  height: 100vh;
  background-size: cover;
}

.h-line {
  background: url("../src/img/ui/h-line.png") no-repeat center center;
  background-color: #4E2208;
  border-top: 4px solid #D4B19D;
  width: 100%;
  height: 65px;
  background-size: cover;
}

.h-deco-line {
  background: url("../src/img/ui/h-deco-line.png") no-repeat center;
  width: 100vh;
  height: 30px;
  background-size: cover;
}

.container {
  background: url("../src/img/ui/bg_content.png");
}

.btn {
  background-image: url("../src/img/ui/btn_pt.png");
  background-color: #AA0000;
  background-repeat: repeat-x;
  background-position: center;
  background-size: 20%;
  padding: 8px 48px;
  display: flex;
  align-items: center;
  border: 5px solid #fff;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
}

.btn:hover {
  background-color: #8d0000;
}

.options>.btn {
  background-color: #156AA0;
  background-size: 8%;
}

.options>.btn:hover {
  background-color: #CB5709;
}

span {
  text-shadow: 2px 2px 4px #000000
}

.image_modal {
  z-index: 30;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #0000008c;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
}

.container img {
  src: url("/quiz/src/img/empty-big.webp");
}

.content-quiz img {
  src: url("/quiz/src/img/empty-small.webp");
}

.title {
  font-family: "Aclonica", sans-serif;
}